---
layout: post
slug: "photos"
title: "React Projects"
noDate: "true"
comments: "true"
open_in_new: false
---
<link rel="stylesheet" href="./ins.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="photos-btn-wrap">
  <a class="photos-btn active" href="/projects">React Project</a>
  <a class="photos-btn" href="/projects/Android/">Android Project</a>
</div>
<div class="container">
  <div class="row  text-center" style="display: flex; flex-wrap: wrap">
    <div class="col-md-3 col-sm-6">
      <div class="thumbnail">
        <div><img id="imgid" src="https://res.cloudinary.com/ltian5/image/upload/v1540848614/sv44yffnfzmvky4gmkbe.jpg"></div>
        <p>
          <a href="https://guarded-beach-21991.herokuapp.com" class="btn btn-primary btn-lg">Developer Connector</a>
        </p>
      </div>
    </div>
  </div>
</div>