---
layout: post
slug: "photos"
title: "Gallery"
noDate: "true"
comments: "true"
reward: "true"
open_in_new: false
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn" href="/photos">Photos</a>
	<a class="photos-btn active" href="/photos/video.html">Videos</a>
</div>
<center>
	<h1>沙漠骆驼</h1>
</center>
<hr />
<center>
	<div class="video-container">
		<iframe src="//player.bilibili.com/player.html?aid=34160882&cid=59840037&page=1" scrolling="no" border="0"
		 frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>
	</div>

</center>