---
layout: post
slug: "photos"
title: "Gallery"
noDate: "true"
comments: "true"
reward: "true"
open_in_new: false
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn" href="/photos">Photos</a>
	<a class="photos-btn active" href="/photos/video.html">Videos</a>
</div>
<center>
	<h1>水滴石穿</h1>
</center>
<hr />
<center>
	<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/wQnDeiUdoSk" frameborder="0" allow="autoplay; encrypted-media"
		 allowfullscreen></iframe>
	</div>

</center>