---
layout: post
slug: "photos"
title: "Android Project"
noDate: "true"
comments: "true"
reward: "true"
open_in_new: false
---
<link rel="stylesheet" href="./ins.css">
<div class="photos-btn-wrap">
	<a class="photos-btn" href="/projects">Home</a>
	<a class="photos-btn" href="/projects/Android/">ChatAPP</a>
	<a class="photos-btn active" href="/projects/Android/video.html">BookStore</a>
</div>
<center>
	<h1>BookStore</h1>
</center>
<hr />
<center>
	<div class="video-container">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/NCjIw39oSzk" frameborder="0" allow="autoplay; encrypted-media"
		 allowfullscreen></iframe>
		</iframe>
	</div>

</center>